* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.flex-end {
  justify-content: end;
}

.debug {
  background-color: rgba(255, 0, 0, .3);
  border: 1px solid black;
}

img {
  max-width: 100%;
}

div .images img:hover,
i:hover {
  cursor: pointer;
}

div i:active {
  filter: opacity(.5);
}

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}

body{
  color: white;
}

/* Header */
header {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white
}

header div i,
header div span,
header i {
  text-transform: capitalize;
}

header .fa-solid {
  font-size: .8rem;
  height: 20px;
  padding: 3px;
  background-color: gray;
}

header div {
  background-color: gray;
  padding: 0px 2px;
  height: 20px;
  font-size: .8rem;
  margin-right: 5px;
}


/* Main */
main {
  height: calc(100vh - 130px);
  background-color: black;
  overflow: auto;
}

.images {
  position: relative;
}

main .row .col{
  width: calc(100% / 7);
  min-width: 150px;
  padding: 0 2px;
  margin-bottom: 2px;
  position: relative;
}

.username span, 
.username .fa-microphone-slash{
  color: white;
}

.username {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background-color: rgba(89, 100, 113, .5);
  padding: 5px;
}

.username span {
  font-size: 15px;
}

.username .fa-microphone-slash {
  font-size: 13px;
}



/* Footer */
footer{
  height: 70px;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-footer, 
.center-footer, 
.right-footer{
  height: 100%;
}

.left-footer, 
.center-footer{
  display: flex;
  flex-shrink: 0;
}

footer .icon{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: .9rem;
  padding: 10px;
  height: 100%;
}

footer .icon i{
  font-size: 1.8rem;
}

footer div .fa-angle-up {
  font-size: .8rem;
}



.icon:hover i, .icon.active i{
  color: green;
}

.right-footer button{
  background-color: #4A4A4A;
  border: 0;
  color: red;
  height: 100%;
  padding: 15px;
  text-transform: capitalize;
  cursor: pointer;
}

